#title{
	color:white;
	font-size:98px;
	z-index:100;
	padding:160px 0 0 0;
	margin:auto;
	vertical-align:center;
	text-align:center;
}

#subtitle{
	color:rgb(100,20,110);
	font-size:24px;
	z-index:100;
	padding:0 0 60px 0;
	text-align: center;
}

#titlebackground{
	display:block;
	background:-webkit-linear-gradient(purple,white);
	margin:0;
	padding:0;
}

#mainbackground{
	background:-webkit-linear-gradient(left,rgba(200,0,200,1),rgba(220,0,200,0.3),rgba(200,0,200,1));
}
/*menustuff*/
#menuholder{
	display:block;
	height: 140px;
	min-width:100%;
	background:-webkit-linear-gradient(top,white,pink,red,purple);
	z-index:120;
}

#guide{
	float:top;
	position:relative;
	display:inline-block;
	height:60px;
	width:100%;
}

.dropdowncontent{
	display:none;
	position:absolute;
}

.show{display:inline-block;}

/*menustuff*/

h1{
	color:rgb(100,0,90);
	text-align: center;
}

h2{
	color:black;
	background:-webkit-radial-gradient(white, gray, black);
	display:inline-block;
	height:100%;
	font-size: 42px;
}

p{
	font-size: 18px;
	color:black;
	padding-left:10%;
	padding-right:10%;
}/*for main aritcle and narrator*/

#chap1{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*鈴子*/

#chap2{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*怡樊*/


#chap3{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*至楷*/

#chap4{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*魏蜀吳*/

#chap5{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*馬修*/

#image{
	display: inline-block;
}

/*characters*/
#msn{
	font-size:20px;
	display:block;
	width:40%;
	height:48px;
	margin:auto;
	color:black;
	background:white;
	text-align: center;
	padding:auto;
	border:2px solid purple;
	border-radius: 5px;
}

#msnblock1{
	display:none;
	margin:0 15% 0 15%;
	padding:0;
	border:2px solid purple;
	border-radius: 10px;
	background: white;
}

#msnblock2{
	display:none;
	margin:0 15% 0 15%;
	padding:0;
	border:2px solid purple;
	border-radius: 10px;
	background: white;
}

#msnblock3{
	display:none;
	margin:0 15% 0 15%;
	padding:0;
	border:2px solid purple;
	border-radius: 10px;
	background: white;
}

#msnblock4{
	display:none;
	margin:0 15% 0 15%;
	padding:0;
	border:2px solid purple;
	border-radius: 10px;
	background: white;
}

#msna{
	font-size:18px;
	display:block;
	color:navy;
	background:white;
	text-align:left;
	padding:0;
	margin-left: 5px;
}

#msnq{
	font-size:18px;
	display:block;
	color:crimson;
	background:white;
	text-align: right;
	padding:0;
	margin-right: 5px;
}

#msnbutton{
	display:block;
	margin:auto;
}

#note{
	font-size: 18px;
	color:black;
	font-style:italic;
	font-weight:bold;
}
#mark{
	font-size:20px;
	color:black;
	font-weight:bold;
}
