#title{
	color:white;
	font-size:98px;
	z-index:100;
	padding:160px 0 0 0;
	margin:auto;
	vertical-align:center;
	text-align: center;
}

#subtitle{
	color:rgb(100,20,110);
	font-size:24px;
	z-index:100;
	padding:0 0 60px 0;
	text-align: center;
}

#titlebackground{
	display:block;
	background:-webkit-linear-gradient(purple,white);
	margin:0;
	padding:0;
}

#mainbackground{
	background:-webkit-linear-gradient(left,rgba(200,0,200,1),rgba(220,0,200,0.3),rgba(200,0,200,1));
}
/*menustuff*/
#menuholder{
	display:block;
	height: 140px;
	background:-webkit-linear-gradient(top,white,pink,red,purple);
}

#guide{
	float:top;
	position:relative;
	display:inline-block;
	height:10%;
	width:100%;
}

.dropdowncontent{
	display:none;
	position:absolute;
}

.show{display:inline-block;}

/*menustuff*/

h1{
	color:rgb(100,0,90);
	text-align: center;
}

h2{
	color:black;
	background:-webkit-radial-gradient(white, gray, black);
	display:inline-block;
	height:10%;
	font-size: 42px;
}

p{
	font-size: 18px;
	color:black;
	padding-left:10%;
	padding-right:10%;
}/*for main aritcle and narrator*/

#chap1{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*鈴子*/

#chap2{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*怡樊*/


#chap3{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*至楷*/

#chap4{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*魏蜀吳*/

#chap5{
	background:-webkit-linear-gradient(left,rgba(120,100,180,0.5),rgba(140,100,120,0.2),rgba(120,100,180,0.5));
	display:block;
}/*馬修*/

#image{
	display: inline-block;
}

/*characters*/
#msn{
	font-size:28px;
	display:block;
	height:10%;
	margin:auto;
	color:black;
	background:white;
	text-align: center;
}

#note{
	font-size: 18px;
	color:black;
	font-style:italic;
}
#mark{
	font-size:18px;
	color:black;
	font-style:bold;
}
